<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .text{
            backgradient(transparent 0%,hotpink 100%);
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;
            transition: background-size 300ms;
        }

        .text:hover{
            background-size: 100% 100%;
            background-position-x: left;
        }
    </style>
</head>
<body data-bs-theme="dark">

{% include 'navbar.html' %}

<div style="width: 80%; margin: auto">
    {% include 'messages.html' %}
    {% block content %}{% endblock content %}
</div>

</body>
</html>